<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 background-clip">
  <title>CSS を試してみよう：RSE CSS Page - background-clip</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#background-clip {
      width: calc(95% - 150px);
      height: 400px;
      background-image: url('../images/mountain.jpg');
      background-size: cover;
      padding: 50px;
      border: 30px dotted #fff;
      line-height: 400px;
      text-align: center;
      color: rgba(255, 255, 255, .5);
      font-size: 60px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > background-clip
      </div>
      <h1>background-clip</h1>
      <p><b>background-clip</b> は、背景をどの部分まで拡張するか指定するプロパティです。初期値は <b>border-box</b> です。</p>
      <h2>background-clip を試す</h2>
      <div class="try">
        <div class="select" id="styles">
          <styles-list
            title="background-clip"
            :values="[
              { id: 1, text: 'border-box', isSelected: true },
              { id: 2, text: 'padding-box', isSelected: false },
              { id: 3, text: 'content-box', isSelected: false }
            ]"
            @change-selected="changeSelected"
          ></styles-list>
          <div class="style" id="txt">-webkit-background-clip: text;</div>
        </div>
        <div class="output change" id="background-clip">Hello</div>
      </div>
      <div class="quate"><a href="https://pixabay.com/ja/users/danfador-55851/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=190055">Dan Fador</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=190055">Pixabay</a>からの画像</div>
      <h2>補足</h2>
      <p>値 <b>text</b> に関しては、プロパティを <b>-webkit-background-clip</b> としなければ適用されませんでした(どなたか原因を教えてください...)。webkit については <a href="-webkit.html">こちら</a> まで。</p>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/select.js"></script>
  <script>
    'use strict';

    $('#txt').click(function() {
      $('.change').css({ WebkitBackgroundClip: 'text' });
    });
  </script>
</body>
</html>
