<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 background-position">
  <title>CSS を試してみよう：RSE CSS Page - background-position</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#background-position {
      background: rgb(171, 176, 255);
    }

    .content .try .output#background-position .change {
      width: 100%;
      height: 100%;
      background: url('../images/horse.png') center no-repeat;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > background-position
      </div>
      <h1>background-position</h1>
      <p><b>background-position</b> は、背景の配置位置(コンテナーに対する相対位置)を指定するプロパティです。初期値は <b>0% 0%</b> です。</p>
      <h2>background-position を試す</h2>
      <div class="try">
        <div class="select" id="styles">
          <styles-list
            title="background-position"
            :values="[
              { id: 1, text: 'center', isSelected: true },
              { id: 2, text: 'top', isSelected: false },
              { id: 3, text: 'bottom', isSelected: false },
              { id: 4, text: 'left', isSelected: false },
              { id: 5, text: 'right', isSelected: false },
              { id: 6, text: '30% 80%', isSelected: false },
              { id: 7, text: '10% 20%', isSelected: false },
              { id: 8, text: '10cm 6cm', isSelected: false },
              { id: 9, text: '8ch 20em', isSelected: false },
              { id: 10, text: 'bottom 50px right 20px', isSelected: false },
              { id: 11, text: 'right 15em bottom 100px', isSelected: false },
              { id: 12, text: 'bottom 30px right', isSelected: false },
              { id: 13, text: 'top right 20px', isSelected: false }
            ]"
            @change-selected="changeSelected"
          ></styles-list>
        </div>
        <div class="output" id="background-position">
          <div class="change"></div>
        </div>
      </div>
      <h2>補足</h2>
      <p>x 方向と y 方向を別々に <b>background-position-x</b>、<b>background-position-y</b> プロパティで指定することもできます。</p>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/select.js"></script>
</body>
</html>
