<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 clip-path">
  <title>CSS を試してみよう：RSE CSS Page - clip-path</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#clip-path img {
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > clip-path
      </div>
      <h1>clip-path</h1>
      <p><b>clip-path</b> は、要素のクリッピング領域(どの部分を切り抜くか)を指定するプロパティです。初期値は <b>none</b> です。</p>
      <h2>clip-path を試す</h2>
      <div class="try">
        <div class="select" id="styles">
          <styles-list
            title="clip-path"
            :values="[
              { id: 1, text: 'none', isSelected: true },
              { id: 2, text: 'inset(120px 60px)', isSelected: false },
              { id: 3, text: 'inset(40px round 70px)', isSelected: false },
              { id: 4, text: 'circle(240px at 500px 400px)', isSelected: false },
              { id: 5, text: 'circle(140px at 310px 200px)', isSelected: false },
              { id: 6, text: 'polygon(40% 0%, 90% 50%, 40% 100%, 10% 50%)', isSelected: false }
            ]"
            @change-selected="changeSelected"
          ></styles-list>
          <div class="style" id="one">clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z');</div>
          <div class="style" id="two">clip-path: path('M 0 200 L 0,110 A 110,90 0,0,1 240,100 L 200 340 z');</div>
        </div>
        <div class="output" id="clip-path">
          <img src="../images/mountain.jpg" class="change" alt="風景のイメージ画像">
        </div>
      </div>
      <div><a href="https://pixabay.com/ja/users/danfador-55851/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=190055">Dan Fador</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=190055">Pixabay</a>からの画像</div>
      <h2>補足</h2>
      <p>このプロパティに使用される値は <a href="../Categories.html#basic-shape">basic-shape</a> のデータ型の値になります。</p>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/select.js"></script>
  <script>
    'use strict';

    $('#one').click(function() {
      $('.change').css({ clipPath: "path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z')" });
    });

    $('#two').click(function() {
      $('.change').css({ clipPath: "path('M 0 200 L 0,110 A 110,90 0,0,1 240,100 L 200 340 z')" });
    });
  </script>
</body>
</html>
