<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 cursor">
  <title>CSS を試してみよう：RSE CSS Page - cursor</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#t-cursor {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .content .try .output#t-cursor .change {
      width: 400px;
      height: 250px;
      background: rgb(98, 107, 235);
      text-align: center;
      line-height: 250px;
      font-size: 32px;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > cursor
      </div>
      <h1>cursor</h1>
      <p><b>cursor</b> は、カーソルのスタイルを指定するプロパティです。初期値は <b>auto</b> です。</p>
      <h2>cursor を試す</h2>
      <div class="try">
        <div class="select cursor" id="styles">
          <styles-list
            title="cursor"
            :values="[
              { id: 1, text: 'auto', isSelected: true },
              { id: 2, text: 'default', isSelected: false },
              { id: 3, text: 'none', isSelected: false },
              { id: 4, text: 'context-menu', isSelected: false },
              { id: 5, text: 'help', isSelected: false },
              { id: 6, text: 'pointer', isSelected: false },
              { id: 7, text: 'progress', isSelected: false },
              { id: 8, text: 'wait', isSelected: false },
              { id: 9, text: 'cell', isSelected: false },
              { id: 10, text: 'crosshair', isSelected: false },
              { id: 11, text: 'text', isSelected: false },
              { id: 12, text: 'vertical-text', isSelected: false },
              { id: 13, text: 'alias', isSelected: false },
              { id: 14, text: 'copy', isSelected: false },
              { id: 15, text: 'move', isSelected: false },
              { id: 16, text: 'no-drop', isSelected: false },
              { id: 17, text: 'not-allowed', isSelected: false },
              { id: 18, text: 'grab', isSelected: false },
              { id: 19, text: 'grabbing', isSelected: false },
              { id: 20, text: 'all-scroll', isSelected: false },
              { id: 21, text: 'col-resize', isSelected: false },
              { id: 22, text: 'row-resize', isSelected: false },
              { id: 23, text: 'n-resize', isSelected: false },
              { id: 24, text: 'e-resize', isSelected: false },
              { id: 25, text: 's-resize', isSelected: false },
              { id: 26, text: 'w-resize', isSelected: false },
              { id: 27, text: 'ne-resize', isSelected: false },
              { id: 28, text: 'nw-resize', isSelected: false },
              { id: 29, text: 'se-resize', isSelected: false },
              { id: 30, text: 'ew-resize', isSelected: false },
              { id: 31, text: 'ns-resize', isSelected: false },
              { id: 32, text: 'nesw-resize', isSelected: false },
              { id: 33, text: 'nwse-resize', isSelected: false },
              { id: 34, text: 'zoom-in', isSelected: false },
              { id: 35, text: 'zoom-out', isSelected: false }
            ]"
            @change-selected="changeSelected"
          ></styles-list>
        </div>
        <div class="output" id="t-cursor">
          <div class="change">ここにカーソルを置く</div>
        </div>
      </div>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/select.js"></script>
  <script src="../js/cursor.js"></script>
</body>
</html>
