<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 flex-grow">
  <title>CSS を試してみよう：RSE CSS Page - flex-grow</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#flex-grow {
      display: flex;
      align-items: center;
    }

    .content .try .output#flex-grow div {
      height: 400px;
      line-height: 400px;
      background: rgb(198, 199, 255);
      border: 1.5px solid #000;
      font-size: 24px;
      text-align: center;
      padding: 20px;
      flex-grow: 1;
    }

    .content .try .output#flex-grow div.change {
      flex-grow: 0;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > flex-grow
      </div>
      <h1>flex-grow</h1>
      <p><b>flex-grow</b> は、フレックスアイテムの寸法(伸長係数)を指定するプロパティです。初期値は <b>0</b> です。</p>
      <h2>flex-grow を試す</h2>
      <div class="try">
        <div id="ranges">
          <range-select
            :props="{ prop: 'flexGrow', unit: '', msg:'寸法(伸長係数)', min: 0, max: 100, step: 1 }"
            @range-select="rangeSelect"
          ></range-select>
        </div>
        <div class="output" id="flex-grow">
          <div class="change">you</div>
          <div>other</div>
          <div>other</div>
        </div>
      </div>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/range.js"></script>
</body>
</html>
