<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 font-weight">
  <title>CSS を試してみよう：RSE CSS Page - font-weight</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#font-weight {
      text-align: center;
      line-height: 550px;
      font-size: 48px;
      font-weight: 1;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > font-weight
      </div>
      <h1>font-weight</h1>
      <p><b>font-weight</b> は、文字の太さを指定するプロパティです。初期値は <b>normal</b> です。</p>
      <h2>font-weight を試す</h2>
      <div class="try">
        <div id="ranges">
          <range-select
            :props="{ prop: 'fontWeight', unit: '', msg:'太さ', min: 1, max: 1000, step: 1 }"
            @range-select="rangeSelect"
          ></range-select>
        </div>
        <div class="output change" id="font-weight">Hello! How's it going?</div>
      </div>
      <h2>補足</h2>
      <p><b>normal</b>、<b>bold</b>、<b>lighter</b> などのキーワード値は、それぞれ特定の数値に対応します。詳しくは <a href="https://developer.mozilla.org/ja/docs/Web/CSS/font-weight">こちら</a> (MDN リファレンス) まで。</p>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/range.js"></script>
</body>
</html>
