<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="rse-godoftomato">
  <meta name="description" content="このページでは、CSSによるスタイリングについて、色相やスタイルの種類などを直感的に操作して試すことができます。">
  <meta name="keywords" content="CSS HTML ウェブ プログラミング 入門 リファレンス 試す RSE Page 初心者 padding">
  <title>CSS を試してみよう：RSE CSS Page - padding</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../images/horse.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <style>
    .content .try .output#padding {
      overflow: scroll;
    }
    
    .content .try .output#padding .change {
      width: 300px;
      height: 200px;
      border: 5px solid #000;
    }

    .content .try .output#padding .change div {
      width: 100%;
      height: 100%;
      background: #626beb;
    }
  </style>
</head>
<body>
  <div id="header">
    <header-component
      :homePath="'../' + homepath"
      :imgPath="'../' + imgpath"
      :actionPath="actionpath"
    ></header-component>
  </div>
  <div class="main">
    <div class="content">
      <div class="loc">
        <a href="../index.html">ホーム</a> > <a href="../ABCindex.html">索引(ABC 順)</a>/<a href="../Categories.html">カテゴリー別</a> > padding
      </div>
      <h1>padding</h1>
      <p><b>padding</b> は、要素のパディング領域の大きさを指定するプロパティです。初期値は <b>0</b> です。</p>
      <h2>padding を試す</h2>
      <div class="try">
        <div id="ranges">
          <range-select 
            :props="{ prop: 'padding', unit: 'px', msg: '大きさ', min: 0, max: 300, step: 1 }"
            @range-select="rangeSelect"
          ></range-select>
        </div>
        <div class="output" id="padding">
          <div class="change"><div></div></div>
        </div>
      </div>
      <h2>補足</h2>
      <p><b>padding-left</b>、<b>padding-bottom</b> などで各辺ごとに指定することもできます。</p>
    </div>
    <nav id="indexes">
      <div class="title">索引(ABC 順)</div>
      <div class="index">
        <a-list
          v-for="alist in alists"
          :key="alist.id"
          :path="'../ABCindex.html' + alist.path"
          :title="alist.title"
        ></a-list>
      </div>
      <div class="title">カテゴリー別</div>
      <div class="index">
        <c-list
          v-for="clist in clists"
          :key="clist.id"
          :path="clist.path"
          :title="clist.title"
        ></c-list>
      </div>
    </nav>
  </div>
  <footer>
    <p>@ Copyright untara-kantara something will be written here...</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/range.js"></script>
</body>
</html>
